################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XTECH-FRONTEND/Controllers
/.vs

/.vs
/XTECH-FRONTEND/obj
/XTECH-FRONTEND/bin
/XTECH-FRONTEND/Properties
