@{
    ViewData["Title"] = "Cargill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main-section">



    <div class="grid">
        <a href="/Car/CartoFactory" class="card">
            <img src="images/icons/icon-1.svg" alt="">
            <h3>Danh sách xe đến nhà máy</h3>
        </a>
        <a href="/Car/ProcessingIsLoading" class="card">
            <img src="images/icons/icon-2.svg" alt="">
            <h3>Xử lý đăng tải</h3>
        </a>
        <a href="/Car/CallTheScale" class="card">
            <img src="images/icons/icon-3.svg" alt="">
            <h3>Danh sách gọi xe vào cân</h3>
        </a>
        <a href="/Car/WeighedInput" class="card">
            <img src="images/icons/icon-4.svg" alt="">
            <h3>Danh sách xe đã cân đầu vào</h3>
        </a>
        <a href="/ListCar/CarCallList" class="card">
            <img src="images/icons/icon-5.svg" alt="">
            <h3>Danh sách gọi xe vào máng xuất</h3>
        </a>
        @*<a href="#" class="card">
            <img src="images/icons/icon-6.svg" alt="">
            <h3>Danh sách xe hoàn thành xuất hàng</h3>
        </a>*@
        <a href="/ListCar/ListVehicles " class="card">
            <img src="images/icons/icon-7.svg" alt="">
            <h3>Danh sách xe đã cân ra</h3>
        </a>
        @*<a href="#" class="card">
            <img src="images/icons/icon-8.svg" alt="">
            <h3>Cập nhật thông tin đăng kiểm xe</h3>
        </a>
        <a href="#" class="card">
            <img src="images/icons/icon-9.svg" alt="">
            <h3>Báo cáo tổng hợp</h3>
        </a>*@
    </div>

</main>
