<div class="card-dashboard">
    <div class="card-header">
        <h3>Thống kê ngày</h3>
        <div class="date-picker">
            <input type="date" value="2025-07-24">
        </div>
    </div>

    <table class="info-table">
        <tbody>
            <tr>
                <td>Thời điểm kết thúc xuất hàng</td>
                <td>14:08:19</td>
            </tr>
            <tr>
                <td>Số lượng chuyến đã xuất</td>
                <td>21 chuyến</td>
            </tr>
            <tr>
                <td>Khối lượng đã xuất</td>
                <td>202 tấn</td>
            </tr>
            <tr>
                <td>Số giờ làm việc</td>
                <td>8.6 giờ</td>
            </tr>
            <tr>
                <td>Năng suất trung bình</td>
                <td>23.4 (tấn/h)</td>
            </tr>
            <tr>
                <td>Thời gian loading trung bình/tấn</td>
                <td>127 (ph/tấn)</td>
            </tr>
            <tr>
                <td>Thời gian loading trung bình/chuyến</td>
                <td>123 (ph/chuyến)</td>
            </tr>
        </tbody>
    </table>
</div>